CONFIG_ARM=y
CONFIG_SYS_DCACHE_OFF=y
CONFIG_ARCH_CPU_INIT=y
CONFIG_ARCH_NEXELL=y
CONFIG_ARCH_S5P6818=y
# CONFIG_DISPLAY_CPUINFO is not set
CONFIG_TEXT_BASE=0x43C00000
CONFIG_SYS_MALLOC_LEN=0x2000000
CONFIG_SYS_MALLOC_F_LEN=0x400
CONFIG_NR_DRAM_BANKS=2
CONFIG_HAS_CUSTOM_SYS_INIT_SP_ADDR=y
CONFIG_CUSTOM_SYS_INIT_SP_ADDR=0x43c00000
CONFIG_ENV_SIZE=0x8000
CONFIG_ENV_OFFSET=0x900000
CONFIG_DM_GPIO=y
CONFIG_DEFAULT_DEVICE_TREE="s5p6818-x6818"
CONFIG_SYS_LOAD_ADDR=0x48000000
CONFIG_DEBUG_UART_BASE=0xC00A1000
CONFIG_DEBUG_UART_CLOCK=50000000
CONFIG_TARGET_X6818=y
CONFIG_ROOT_DEV=2
CONFIG_BOOT_PART=1
CONFIG_ROOT_PART=2
CONFIG_DEBUG_UART=y
CONFIG_SYS_MEMTEST_START=0x50000000
CONFIG_SYS_MEMTEST_END=0x80000000
CONFIG_FIT=y
CONFIG_FIT_BEST_MATCH=y
CONFIG_SUPPORT_RAW_INITRD=y
CONFIG_BOOTDELAY=1
CONFIG_SYS_PBSIZE=1050
CONFIG_BOARD_LATE_INIT=y
CONFIG_HUSH_PARSER=y
CONFIG_SYS_PROMPT="x6818# "
CONFIG_CMD_BOOTZ=y
CONFIG_CMD_MEMTEST=y
CONFIG_CMD_GPIO=y
CONFIG_CMD_MMC=y
CONFIG_CMD_MII=y
CONFIG_CMD_I2C=y
CONFIG_CMD_PART=y
CONFIG_CMD_EXT4=y
CONFIG_CMD_EXT4_WRITE=y
CONFIG_CMD_FS_GENERIC=y
CONFIG_CMD_FAT=y
CONFIG_CMD_NET=y
CONFIG_CMD_DHCP=y
CONFIG_CMD_PING=y
CONFIG_CMD_TFTPBOOT=y
CONFIG_CMD_BMP=y
CONFIG_ENV_OVERWRITE=y
CONFIG_ENV_IS_IN_MMC=y
CONFIG_ENV_MMC_DEVICE_INDEX=2
CONFIG_MMC_DW=y
CONFIG_DM_I2C=y
CONFIG_SYS_I2C_NEXELL=y
CONFIG_PINCTRL=y
CONFIG_ETH_DESIGNWARE=y
CONFIG_ETH_DESIGNWARE_NEXELL=y
CONFIG_PHY_ADDR_ENABLE=y
CONFIG_PHY_ADDR=4
CONFIG_PHY_GIGE=y
CONFIG_PHY_REALTEK=y
CONFIG_VIDEO=y
CONFIG_DISPLAY=y
CONFIG_VIDEO_NX=y
CONFIG_VIDEO_NX_MIPI=y
CONFIG_PWM_S5P=y
CONFIG_VIDEO_NX_RGB=y
CONFIG_VIDEO_NX_LVDS=y
CONFIG_VIDEO_NX_HDMI=y
CONFIG_SPLASH_SCREEN=y
CONFIG_SPLASH_SCREEN_ALIGN=y
CONFIG_BMP=y
CONFIG_BMP_24BPP=y
CONFIG_BMP_32BPP=y
CONFIG_DEBUG_UART_S5P6818=y
CONFIG_DEBUG_UART_SKIP_INIT=y
CONFIG_ERRNO_STR=y
# CONFIG_TOOLS_MKEFICAPSULE is not set
